name: Test  Action

on: [push]


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Show Forge version
        run: forge --version
        
      - name: test_ci
        uses: BuildBearLabs/buildbear_x_action@v1.5.0

        with: 
          network: |
            [
              {
                "chainId": 1
              }
            ]

          deploy-command: "make exe"
          buildbear-token: "a"  
         